<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
            <h1>Galería de Imágenes</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="galeria.html" class="active">Galería</a></li>
                    <li><a href="presupuesto.html">Presupuesto</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="content"> 
        <section id="galeria">
            <h2>Nuestra Galería</h2>
            <div id="contenedor-imagenes" class="grid-galeria"></div> 
        </section>
    </div>

    <footer>
        <p>&copy; 2025 Mi Empresa - Todos los derechos reservados </p>
         <p>Dirección: Calle Principal, 123, Moncófar, España </p>
        <div class="redes-sociales">
            <a href="https://twitter.com/" target="_blank">
            <img src="../assets/x.png" alt="Twitter" width="30" height="30">
        </a>
        <a href="https://facebook.com/" target="_blank">
            <img src="../assets/facebook.png" alt="Facebook" width="30" height="30">
        </a>
        <a href="https://linkedin.com/in/" target="_blank">
            <img src="../assets/linkedIn.png" alt="LinkedIn" width="30" height="30">
        </a>
    </div>
    </footer>

    <script src="../js/cargar_imagen.js" defer></script>
    <script src="../js/scroll.js" defer></script>
</body>
</html>
